//頁面：首頁 index


/* 區塊：Banner */
.banner{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.cv{
	width: 60%;
}
.self-intro{
	padding-left: 16%;
	padding-right: 24px;
	width: 40%;

	h2{
		font-size: 40px;
		font-weight: 600;
		line-height: 48px;
		color: $gray-700;
	}
	h3{
		color: $gray-600;
	}
	p{
		color: $gray-400;
	}
}	
.mark-section{
	position: relative;
	z-index: 2;
}
.mark{
	position: absolute;
	left: 10px;
	bottom: 0;
	z-index: -1;
}

.self-intro{
	h3{
		font-size: 20px;
		padding-top: 24px;
		padding-bottom: 16px;
	}
}

.social-btn{
	padding-top: 60px;
	display: flex;
}
.social-btn-middle{
	padding-left: 16px;
	padding-right: 16px;
}

/* 區塊：作品介紹 */
.work1-bg{
	background-image: url(../images/homepage-work1-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.work2-bg{
	background-image: url(../images/homepage-work2-lg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.work3-bg{
	background-image: url(../images/homepage-work3-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// 共用標題樣式
.title-sec{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding-top: 120px;
	padding-bottom: 80px;
	.title-deco-left{
		display: block;
		background-image: url("../images/title\ deco-left-lg.png");
		background-repeat: no-repeat;
		width: 100px;
		height: 6px;
	}
	.title-deco-right{
		display: block;
		background-image: url("../images/title\ deco-right-lg.png");
		background-repeat: no-repeat;
		width: 100px;
		height: 6px;
	}
	.title{
		font-size: 32px;
		font-weight: 600;
		line-height: 38.4px;
		letter-spacing: 3.84px;  //figma 寫 12%
		color: $gray-700;
		text-align: center;
	}	
}


.works-container{
	display: flex;
	justify-content: center;
	gap: 55px;
	.works-pic{
		img{
			margin-top: 80px;
		}
	}
	.works-pic-3{
		img{
			margin-top: 176px;
		}
	}
}

// 作品介紹 - 第二個作品
.works2-container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	position: relative;
	.work2-filled{
		width: 50%;
		background-color: transparent;
	}
	.work2-bg-blur{
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: #0A1013;
		opacity: 50%;
		z-index: 0;
	}
	.works-pic-2{
		display: none;
	}
	
}



// 作品介紹：共用毛玻璃背景設定
.works-content-bg{
	background-color: #fff 10%;
	backdrop-filter: blur(3px); //毛玻璃效果
	border-radius: 24px;
	width: 40%;
	padding: 80px 40px 56px 40px;
	margin-top: 200px;
	margin-bottom: 200px;
	z-index: 2;
}

.works-content-mobile{
	display: none;
}

.works-content{
	color: #fff;
	h2{
		font-size: 28px;
		font-weight: 700;
		line-height: 33.6px;
	}
	p{
		padding-top: 8px;
	}
	.works-tags{
		display: flex;
		gap: 16px;
		padding-top: 24px;
		padding-bottom: 40px;
		border-bottom: 1px solid $gray-200;
		li{
			color: $gray-700;
			padding: 4px 12px;
			background-color: #fff;
			border-radius: 16px;
		}
	}
}

.works-btn{
	font-size: 20px;
	font-weight: 700;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 5px;
	color: #fff;
	background-color: #000;
	padding: 16px 32px;
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	&:hover{
		background-color: $gray-500;
	}
}

// 區塊：服務項目
.service-bg{
	background-image: url("../images/homepage-services-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.service{
	padding-bottom: 120px;
	.know-more{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin-top: 80px;
		margin-bottom: 120px;
		p{
			font-size: 28px;
			font-weight: 600;
			line-height: 33.6px;
			color: $gray-700;
		}
		.service-btn{
			font-size: 20px;
			font-weight: 700;
			border-radius: 5px;
			color: #fff;
			background-color: #000;
			padding: 16px 32px;
			display: flex;
			align-items: center;
			gap: 8px;
			width: fit-content;
			&:hover{
				background-color: $gray-500;
			}
		}
	}
	
}

.service-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 24px;
	li{
		width: 23%;
		background-image: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
		padding: 80px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		h3{
			font-size: 28px;
			font-weight: 700;
			color: #fff;
		}
	}	
}

// 區塊：精選文章
.article-list{
	display: flex;
	justify-content: center;
	gap: 24px;
	.article-item{
		max-width: 32%;	
	}
	.article-pic{
		text-align: center;
		img{
			border: 1px solid $gray-200;
			border-radius: 8px;
		}
	}
	
}

.article-content{
	margin-top: 16px;
	padding-left: 8px;
	padding-right: 8px;
	h3{
		text-wrap: wrap;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		color: $gray-700;
		padding-bottom: 16px;
	}
	.tags-date{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.article-tags{
			li{
				color: $gray-700;
				padding: 4px 12px;
				background-color: $gray-200;
				border-radius: 16px;
				width: fit-content;
			}
			
		}
		.date{
			color: $gray-600;
		}
	}
}

.pagination-dotted{
	margin-top: 40px;
	margin-bottom: 120px;
	display: flex;
	justify-content: center;
	gap: 16px;
	li{
		background-color: $gray-300;
		width: 12px;
		height: 12px;
		border-radius: 25px;
		&:hover{
			border: 1px solid $gray-600;
		}
	}
	.selected{
		background-color: #000;
	}
	
}

.article-btn{
	display: none;
}



/* iPad 版 */
@media (max-width:992px) {
	/* 區塊：Banner */
	.cv{
		width: 100%;
	}
	.banner{
		display: flex;
		flex-direction: column;
	}
	.self-intro{
		text-align: center;
		padding: 40px 37.5px 40px 37.5px;

		h2{
			font-size: 32px;
			font-weight: 700;
			line-height: 38.4px;
		}
	}
	.social-btn{
		padding-top: 24px;
		justify-content: center;
	}

	//區塊：作品介紹
	.work1-bg{
		background-image: none;
	}
	.work2-bg{
		background-image: none;
	}
	.work3-bg{
		background-image: none;
	}
	.works-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		.works-pic{
			background-image: url(../images/homepage-work1-bg.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			img{
				margin-top: 93px;
			}
		}
		.works-pic-3{
			background-image: url(../images/homepage-work3-bg.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			img{
				margin-top: 90px;
				margin-bottom: 90px;
			}
		}
	}

	// 作品介紹 - 第二個作品
	.works2-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		.work2-filled{
			display: none;
		}
		.work2-bg-blur{
			display: none;
		}
		.works-pic-2{
			display: block;
			max-width: 100%;
			padding: 200px 0;  // 不知道為蝦咪有設定 Padding 圖片就會出現了
			background-image: url(../images/homepage-work2-lg.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}


	.works-content-bg{
		display: none;

		.works-content{
			display: none;
		}
	}
	
	// iPad & Mobile 時顯示
	.works-content-mobile{
		display: block;
		h2{
			color: $gray-800;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
		}
		p{
			padding-top: 8px;
			text-align: center;
		}
		.works-tags{
			display: flex;
			justify-content: center;
			gap: 8px;
			padding-top: 16px;
			padding-bottom: 20px;
			border-bottom: 0;
			li{
				color: $gray-700;
				padding: 4px 12px;
				background-color: $gray-200;
				border-radius: 16px;
			}
		}
		
	}

	.works-btn{
		font-size: 16px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto;
		
		border-radius: 5px;
		color: #fff;
		background-color: #000;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		gap: 8px;
		width: fit-content;
		&:hover{
			background-color: $gray-500;
		}
	}


	//區塊：服務項目
	.service-list{
		li{
			width: 48%;
		}	
	} 
	// 區塊：精選文章
	.article-list{
		margin-left: 12px;
		margin-right: 12px;
		flex-wrap: wrap;
		gap: 48px;
		.article-item{
			max-width: 416px;	
		}
	}
	.pagination-dotted{
		display: none;
	}
	.article-btn{
		margin: 40px auto 80px auto;

		font-weight: 700;
		border-radius: 5px;
		color: #fff;
		background-color: #000;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		gap: 8px;
		width: fit-content;
		&:hover{
			background-color: $gray-500;
		}
	}


}

/* 手機版 */
@media (max-width:767px) {


// 共用標題樣式
.title-sec{
	padding-top: 80px;
	padding-bottom: 40px;
	.title-deco-left{
		background-image: url("../images/title\ deco-left-sm.png");
		width: 56px;
		height: 6px;
	}
	.title-deco-right{
		background-image: url("../images/title\ deco-right-sm.png");
		width: 56px;
		height: 6px;
	}
	.title{
		font-size: 24px;
		font-weight: 700;
		line-height: 28.8px;
		letter-spacing: 3.84px;  //figma 寫 12%
	}	
}

	// 區塊：服務項目
	.service{
		padding-bottom: 80px;
		.know-more{
			gap: 24px;
			margin-top: 40px;
			margin-bottom: 80px;
			p{
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;
			}
			.service-btn{
				font-size: 16px;
				padding: 8px 16px;
			}
		}
		
	}


	.service-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 24px;
		li{
			width: 100%;
			margin-left: 34.5px;
			margin-right: 34.5px;
			h3{
				line-height: 28.8px;
			}
		}	
	}
	
	
}

/* 手機版 */
@media (max-width:375px) {
	/* 區塊：Banner */
	.cv{
		img{
			content: url("../images/hero-sm.png");
		}
	}

	//區塊：作品介紹
	.works2-container{
		.works-pic-2{
			background-image: url(../images/homepage-work2-sm.png);
		}
	}
	
}